fastapi==0.116.1
uvicorn[standard]==0.35.0
h3==4.3.1
scipy==1.16.2
numpy==2.3.3
requests==2.32.5
websockets==15.0.1
python-multipart==0.0.6
pydantic==2.11.9
pydantic-core==2.33.2
starlette==0.47.3
pandas==2.2.3
scikit-learn==1.7.2